.subtitle {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: 700;
}

.datos {
    color: #FFFFFF;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2rem;
}

.redes {
    display: flex;
}

.redes-color {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.redes-color:hover {
    transform: scale(1.2);
}

.link {
    margin-right: 10%;
    height: 3rem;
}

@media screen and (min-width: 1024px) {
    .subtitle {
        font-size: 2rem;
    }
}