.footer {
    width: 75%;
    margin: 10.5rem auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datos {
    color: #FFFFFF;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
}

.redes {
    display: flex;
}

.redes-color {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.redes-color:hover {
    transform: scale(1.2);
}

.link {
    margin-right: 10%;
    height: 3rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        margin: 8% 11%;
        height: 20%;
    }
}

@media screen and (min-width: 1268px) {
    .footer {
        width: 75%;
        margin: 12.5% 11%;
        height: 20%;
    }
}